  ion-item {
    display: flex;
    align-items: center;
  }
  
  ion-avatar {
    width: 40px;
    height: 40px;
  }
  
  ion-label h2 {
    margin-left: 1px;
  }
ion-button {
  color: aliceblue;
  font-weight: bold;
}

h2 {
  font-weight: bold;
  font-size: small; color: gray;
}
