<ion-card>

  <ion-card-header>
  <ion-item lines="none">
    <ion-avatar slot="start">
      <img [src]="post.userAvatar" alt="User Avatar">
    </ion-avatar>
    <ion-label>
      <h2 style="font-weight: bold;">{{ post.user }}</h2>
      <h2 style="font-size: small; color: gray;">Amigos en comun (10)</h2>

    </ion-label>

    
    <ion-card-content>
      <ion-button style="color: white;">Aceptar</ion-button>
      <ion-button color="medium" style="color: white;">Eliminar</ion-button>
  </ion-card-content>
  </ion-item>
</ion-card-header>


 


</ion-card>
