<ion-card>

  <ion-card-header>
  <ion-item lines="none">
    <ion-avatar slot="start">
      <img [src]="post.userAvatar" alt="User Avatar">
    </ion-avatar>
    <ion-label>
      <h2>{{ post.user }}</h2>
    </ion-label>
  </ion-item>
</ion-card-header>


  <ion-card-content>
    <img [src]="post.content" alt="Post image" />
  </ion-card-content>

  <ion-card-content>
    <ion-button style="font-family: 'Black', sans-serif;">Agregar</ion-button>
    <ion-button style="font-family: 'Black', sans-serif;">Rechazar</ion-button>
  </ion-card-content>


</ion-card>
