<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center">
    <ion-title>Inicio de Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="login-container">

    <ion-list lines="none">

      <ion-item class="ion-margin-bottom">
        <ion-input
          label="Correo"
          labelPlacement="floating"
          type="email"
          placeholder="Ingresa tu correo"
          required
          [(ngModel)]="email"
        ></ion-input>
        <ion-text slot="end" color="danger">*</ion-text>
      </ion-item>

      <ion-item class="ion-margin-bottom">
        <ion-input
          label="Contraseña"
          labelPlacement="floating"
          type="password"
          placeholder="Ingresa tu contraseña"
          required
          [(ngModel)]="password"
        ></ion-input>
        <ion-text slot="end" color="danger">*</ion-text>
      </ion-item>
    </ion-list>

    <ion-button expand="block" (click)="sesion()" class="ion-margin-bottom">
      Inicia Sesión
    </ion-button>

    <ion-button expand="block" color="light" (click)="sesionGoogle()">
      <ion-icon slot="start" name="logo-google"></ion-icon>
      Inicia Sesión con Google
    </ion-button>
    <ion-button expand="block" color="primary" (click)="sesionFacebook()">
      <ion-icon slot="start" name="logo-facebook"></ion-icon>
      Inicia Sesión con Facebook
    </ion-button>

    <ion-text class="ion-text-center ion-margin-top">
      <p>¿No tienes cuenta? <a href="/registro">Regístrate</a></p>
    </ion-text>
  </div>
</ion-content>