.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding-top: 50px;
  }
  
  ion-item {
    --padding-start: 0;
    --inner-padding-end: 0;
    --background: transparent; 
  }
  
  ion-button {
    --border-radius: 8px;
    margin-top: 16px;
  }
  
  ion-text {
    display: block;
    text-align: center;
    margin-top: 20px;
  }
  
  a {
    text-decoration: none;
    color: var(--ion-color-primary);
    font-weight: bold;
  }

  .social-login-buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 16px; 
  }
  
  .social-login-buttons ion-button {
    --border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  