.header-title {
    display: flex;
    justify-content: center;
  }
  
  .stories-container {
    display: flex;
    justify-content: center;
    padding: 10px 0;
  }
  
  .post-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: calc(100vh - 150px); 
  }
  