<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="header-title">
      Facebook 2.0
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="paper-plane-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <app-layout>
    <ion-list class="post-list">
      <app-friends
      *ngFor="let friend of friends"
      [post]="friend"
      (acceptFriend)="handleAcceptFriend($event)"
      (removeFriend)="handleRemoveFriend($event)">
    </app-friends>
    </ion-list>
  </app-layout>
</ion-content>