<ion-list class="lista-notificaciones">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/tabs/inicio"></ion-back-button>
      </ion-buttons>
      <ion-title>Notificaciones</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-item *ngFor="let notificacion of notificaciones" class="notificacion">
    <div class="contenedor-notificacion">

      
      <!-- Avatar con icono de tipo de notificación -->
      <div class="avatar-container">
        <ion-avatar class="avatar">
          <img [src]="notificacion.imagen" />
          <ion-icon *ngIf="notificacion.tipo === 'like'" name="heart" class="icono-notificacion like"></ion-icon>
          <ion-icon *ngIf="notificacion.tipo === 'comentario'" name="chatbubble" class="icono-notificacion comentario"></ion-icon>
        </ion-avatar>
      </div>

      <!-- Mensaje y fecha -->
      <div class="info-notificacion">
        <h2 [ngClass]="{'negrita': !notificacion.leido}" class="mensaje">{{ notificacion.mensaje }}</h2>
        <p class="fecha-notificacion">{{ tiempoTranscurrido(notificacion.fecha) }}</p>
      </div>

      <!-- Botón de eliminar -->
      <ion-button fill="clear" color="danger" class="eliminar-btn" (click)="eliminarNotificacion(notificacion.id)">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-item>
</ion-list>
