<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Configuración</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-title size="large">Configuración</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="userProfile; else loading">
    <ion-card>
      <ion-card-header class="profile-card-header">
        <ion-avatar class="profile-avatar">
          <img [src]="userProfile.profilePicture || 'https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp&f=y'" alt="Foto de perfil">
        </ion-avatar>
        <ion-card-title class="profile-title">{{ userProfile.name }}</ion-card-title>
        <ion-card-subtitle class="profile-subtitle">{{ userProfile.email }}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <ion-button expand="block" color="secondary">
      <ion-icon slot="start" name="create-outline"></ion-icon>
      Editar Perfil
    </ion-button>
  </div>

  
  <ng-template #loading>
    <div class="loading-container">
      <ion-spinner name="crescent"></ion-spinner>
      <p>Cargando perfil...</p>
    </div>
  </ng-template>
</ion-content>