<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="logo-facebook" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <ion-searchbar placeholder="Buscar"></ion-searchbar>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="chatbubble-outline"></ion-icon>
      </ion-button>
      <ion-button routerLink="/notificaciones">
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center">
  <div class="feed-container">
    <ion-list>
     
      <ng-container *ngFor="let post of posts">
       
        <ion-item>
          <ion-avatar slot="start">
            <img [src]="post.avatar" />
          </ion-avatar>
          <ion-label>
            <h2>{{ post.title }}</h2>
            <p>{{ post.subtitle }}</p>
          </ion-label>
        </ion-item>
        
        <!-- Componente para las publicaciones -->
        <app-publicaciones [post]="post"></app-publicaciones>
      </ng-container>
    </ion-list>
  </div>
</ion-content>
